/* breakpoints */
/**
 * prefix: bp_
 */
/**
 * xtra-xtra-large display
 */
/**
 * xtra-large display
 */
/**
 * Macbook +
 */
/**
 * Macbook
 */
/**
 * Ipad pro
 */
/**
 * Iphone 6
 */
/**
 * prefix: h_
 */
/**
 * prefix: m_
 */
/**
 * Navigationbar layout
 *
 * @param pixels $height
 */
/**
 * Overlay, can be used for background images etc.
 *
 * @param color $background-color
 * @param color $color
 */
/**
 * Hero with support for background-image.
 * Can be used for sliders etc.
 *
 * @param pixels $height
 * @param bool $fixed-background 
 */
/**
 * Make content inside DOM centered
 *
 * @param bool $horizontal
 * @param bool $vertical
 */
/**
 * Similar to m_center, but old way of doing it.
 * (without flexbox)
 *
 * @param bool $horizontal
 * @param bool $vertical
 */
/**
 * Center an item that is either fixed or absolute.
 *
 * @param bool $horizontal
 * @param bool $vertical
 */
/**
 * Completely hide DOM
 */
/**
 * Makes a DOM the same size as the window
 */
/**
 * Make DOM overlay screen,
 * it will also follow when scrolling
 */
/**
 * Remove default styles from buttons, inputs, selects etc...
 */
/**
 * Remove unwanted CSS rules
 */
/**
 * Remove unwanted CSS rules from everything
 */
/**
 * Cross-browser transition
 */
/**
 * Used to limit the site width.
 *
 * @param pixels $max-width
 */
/**
 * Typography type: 0
 */
* {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Roboto', sans-serif; }

.sitecontent {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto; }

.hero {
  background-size: 100%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }
  .hero h1 {
    font-size: 34px;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 0 0 16px; }
  .hero h2 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0 0 14px; }
  .hero p {
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0 0.875rem; }
  .hero a {
    text-decoration: none; }
  .hero a:hover {
    text-decoration: none; }
  .hero .overlay {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white; }

.articles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-direction: row; }
  .articles > * {
    flex: 1; }
  @media only screen and (max-width: 1024px) {
    .articles {
      flex-direction: column;
      display: block; }
      .articles > * {
        width: 100%; } }
  .articles > * {
    min-height: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .articles > * > * {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .articles > * > * h1 {
        font-size: 34px;
        font-size: 2.125rem;
        font-weight: 300;
        line-height: 2.5rem;
        margin: 0 0 16px; }
      .articles > * > * h2 {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
        margin: 0 0 14px; }
      .articles > * > * p {
        font-size: 15px;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 0 0 0.875rem; }
      .articles > * > * a {
        text-decoration: none; }
      .articles > * > * a:hover {
        text-decoration: none; }

.navbar {
  display: block;
  width: 100%;
  height: 4rem;
  background-color: black; }
  .navbar, .navbar ul {
    box-sizing: border-box; }
  .navbar ul, .navbar li, .navbar a {
    display: inline-block;
    height: 100%; }
  .navbar ul {
    list-style: none; }
    .navbar ul li a {
      display: inline-block;
      height: 100%;
      line-height: 4rem;
      text-decoration: none; }
  .navbar h1 {
    font-size: 34px;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 0 0 16px; }
  .navbar h2 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0 0 14px; }
  .navbar p {
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0 0.875rem; }
  .navbar a {
    text-decoration: none; }
  .navbar a:hover {
    text-decoration: none; }
  .navbar a {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem; }

/*# sourceMappingURL=style.css.map */
