@import '../utils.scss';


@include m_reset_all();

* {
    font-family: 'Roboto', sans-serif;    
}

.sitecontent {
    @include m_sitecontent();
}

.hero {
    @include m_hero($height: 100vh);
    @include m_typography_0();

    .overlay {
        @include m_overlay();
    }
}

.articles {
    @include m_split($y: true);

    & > * {
        min-height: 200px;
        @include m_center();

        & > * {
            @include m_center();
            @include m_typography_0();
        }
    }
}

.navbar {
    @include m_navbar();
    @include m_typography_0();
    background-color: black;

    a {
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
