@import '../utils.scss';


@include m_reset_all();

* {
    font-family: 'Roboto', sans-serif;    
}

.hero {
    @include m_hero();

    .overlay {
        @include m_overlay();
    }
}

.articles {
    @include m_split($y: true);

    & > * {
        min-height: 200px;
        @include m_center();
    }
}

.navbar {
    @include m_navbar();
    background-color: #1abc9c;

    a {
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
